html,body{
    height: 100%;
    width: 100%;
}
.main-container{
    /*height: calc(100% - 52.5px);*/
}
.main_content{
    height: calc(100% - 58px);
    padding-top: 15px;
}
.header{
    height: 52.5px;
}
.tab-content{
    height: calc(100% - 42px);
}
.tab-content .tab-pane{
    height: 100%;
}
.tab-content .graph-editor{
    height: 100%;
}
.graph-editor{
    position: relative;
    padding: 5px 10px;
}
.mb5{
    margin-bottom: 5px;
}
.arrow_box {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-shadow: #888 3px 3px 10px 0px;
}
.arrow_box:after, .arrow_box:before {
    /*right: 100%;*/
    /*top: 50%;*/
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFFFFF;
    border-width: 10px;
    margin-top: -10px;
}
.arrow_box:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #DDDDDD;
    border-width: 13px;
    margin-top: -13px;
}
.tip {
    margin-bottom: 0px;
}
.alarm-num {
    height: 34px;
    line-height: 34px;
}
.alarm-num span {
    color: #273fc2;
    font-weight: bold;
}
#alarmStatistics, #alarmRatio {
    position: static !important;
}
#alarmStatistics > div {
    top: -30px;
}
#alarmBtns {
    margin-bottom: 15px;
}
