
<link rel="stylesheet" href="${.site_root}/static/libs/bootstrap/css/bootstrap.css">
<link rel=stylesheet href="${.site_root}/static/libs/bootstrap/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="${.site_root}/static/libs/graph.editor/css/graph.editor.css">
<link rel="stylesheet" href="${.site_root}/static/libs/layui/css/layui.css">
<!--<link rel="stylesheet" href="${.site_root}/static/libs/diquick/css/diquick.min.css">-->

<script type="text/javascript" src="${.site_root}/static/libs/jquery/jquery-3.2.0.js"></script>
<script type="text/javascript" src="${.site_root}/static/libs/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="${.site_root}/static/libs/vue/vue.js"></script>
<!--<script type="text/javascript" src="${.site_root}/static/libs/diquick/js/diquick.js"></script>-->
<script src="${.site_root}/static/libs/bootstrap/js/bootstrap-colorpicker.min.js"></script>
<script src="${.site_root}/static/libs/layui//layui.js"></script>
<script src="${.site_root}/static/libs/echarts/echarts.js"></script>
<script src="${.site_root}/static/js/md5.min.js"></script>
